@charset "UTF-8";
* {
  font-family: "微軟正黑體";
}
* h1, * h2, * h3, * h4, * h5, * h6, * .h1, * .h2, * .h3, * .h4, * .h5, * .h6 {
  font-weight: bold;
}
* nav.navbar {
  transition: 1s;
}
* nav.navbar.navbar-default.navbar-fixed-top.navbar-top {
  background-color: transparent;
}
* nav.navbar.navbar-default.navbar-fixed-top.navbar-top a {
  color: white;
  transition: 0.5s;
}
* nav.navbar.navbar-default.navbar-fixed-top.navbar-top a:hover {
  color: green;
}

embed{
  display: none;
}
header.jumbotron {
  width: 100%;
  background-image: url("https://wallpapercave.com/wp/wp1934911.png");
  /* background-attachment: fixed; */
  background-size: cover;
  background-position: center ;
  padding: 250px 0px;
  color: white;
  margin-bottom: 0px;
}
header.jumbotron .container {
  margin-top: -50px;
}
header.jumbotron .container h4 {
  color: rgba(255, 255, 255, 0.4);
  padding-top: 50px;
}
/* 泡泡特效開始 */
.bubbles > .particle {
  /*初始透明度为0 */
  opacity: 0;
  position: absolute;
  /*初始颜色为荧光色，透明度为0.7 */
  background-color: rgba(255, 255, 255, 0.5);
  /*使用bubbles动画，持续时间18秒，缓慢进入，无限循环 */
  animation: bubbles 18s ease-in infinite;
  border-radius: 100%;
}

/*css keyframes 动画 改泡泡上升速度*/
@keyframes bubbles {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
    transform: translate(0, -20%);
  }
  /*这里-8000%表示是气泡的8000% */
  100% {
    opacity: 0;
    transform: translate(0, -8000%);
  }
}
/*泡泡特效結束*/
section#enter {
  background-image: url("https://storage-asset.msi.com/global/picture/image/feature/multimeda/keyboard/GK70/GK70-overview-bg.jpg");
  background-size: cover;
  padding: 100px;
  color: white;
}
section#enter h2 {
  margin-top: 130px;
}
section#enter .keyboard {
  background-image: url(https://cdn2.ettoday.net/images/1392/1392378.jpg);
  height: 300px;
  background-size: cover;
  background-position: center;
}

section#original {
  background-color: #eee;
}
section#original .img-wrap {
  height: 170px;
  overflow: hidden;
}
section#original .img-wrap img {
  margin-left: -30px;
  width: 110%;
  height: 100%;
}
section#original .contury ul {
  font-weight: 400;
  font-size: 0.6em;
  margin-top: 7px;
}

section#story {
  padding: 0;
}
section#story .spaceimg {
  background-image: url(https://ichef.bbci.co.uk/news/660/cpsprodpb/7D66/production/_105120123_gettyimages-831502910.jpg);
  height: 350px;
  background-size: cover;
  background-position: center;
}
section#story .col-sm-7 {
  text-align: center;
}
section#story .icon img {
  width: 150px;
  opacity: 0.8;
}
section#story .fas {
  font-size: 100px;
}

section#future {
  background-color: #eee;
}
section#future img {
  width: 100%;
}
section#future i {
  font-size: 50px;
}
section#future .future {
  padding-top: 30px;
  padding-bottom: 70px;
}

footer.jumbotron {
  background-image: url(https://na.leagueoflegends.com/sites/default/files/styles/scale_xlarge/public/upload/pax.flier_.1920x1080_0.jpg);
  background-position: center;
  background-size: cover;
  margin-top: 20px;
  text-align: center;
  height: 350px;
  margin-top: 0;
  margin-bottom: 0;
}
footer.jumbotron h2 {
  color: white;
}
footer.jumbotron input {
  max-width: 380px;
  margin: 40px auto;
}

footer.jumbotron button{
  width: 150px;
}
